{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
	<form method="post" action="">
		<h2 class="h-title" dir="rtl">درخواست دسترسی ویژه</h2>

		<div class="form-container">
			<!-- username -->
			<p><label for="{{ form.neededPrivilege.id_for_label }}">{{ form.neededPrivilege.label }}*</label></p>
			<p>{{ form.neededPrivilege|add_class:'form-input' }}</p>
			<div class="form-error">{{ form.neededPrivilege.errors }}</div>

			<!-- realName -->
			<p><label for="{{ form.reason.id_for_label }}">{{ form.reason.label }}</label></p>
			<p>{{ form.reason|add_class:'form-input' }}</p>
			<div class="form-error">{{ form.reason.errors }}</div>

			<div class="small margin-bottom-15">پر کردن ورودی هایی که با * مشخص شده اند ضروریست.</div>

			{% if success %}
				<div class="form-success">تقاضا با موفقیت ثبت شد.</div>
			{% endif %}
			<p class=""><input type='submit' class="btn btn-info" value="ایجاد"></p>
		</div>



	</form>
{% endblock %}