/* lighter-blue: rgb(138,213,240) */
/*   light-blue: rgb( 51,181,229) */
/*    dark-blue: rgb(  0,153,204) */

html{
	height: 100%;
}
body {
	min-height: 100%;
}
#content-holder{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	height: 100vh;
	background-color: rgb(138,213,240);
	/*display:block;overflow:auto*/
}
.center-element{
	text-align: center;
}
#navbar-inner .dropdown-menu{
	text-align: right;
}
#navbar-search-input{
	text-align: right;
}
body{
    padding-top: 50px;
	background-color: #f1f1f1;
}
.add-simple-padding{
	padding: 10px 15px 10px 15px;
}
#navbar{
	height: 50px;
}



/********** search ********/
.interactive-web-part{
	background-color: rgb(138,213,240);
	padding-bottom: 15px;
	padding-top: 15px;
}
.search-form{
	background-color: rgb(138,213,240);
	padding-bottom: 15px;
}
.search-form td{
	padding: 2px 10px 2px 10px;
}
.search-form input[type=submit]{
	margin-right: 20px;
	margin-top: 10px;
}
hr.divider#search-hr-line{
	background-color: rgb(  0,153,204);
	margin-bottom: 15px;
	margin-top: 0;
	border: 0;
	width: 100%;
	height: 2px;
}


/************table***********/
table.table-select{
	/*margin: 10px auto 15px auto;*/
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
table.table-select, table.table-select th, table.table-select td{
	border-collapse: collapse;
	border: 1px solid rgb(  0,153,204);
}
table.table-select th, table.table-select td{
	padding: 4px 10px;
}
table.table-select th{
	text-align: center;
	padding: 4px 10px;
	background-color: rgb(  0,153,204);
	color: #ffffff;
}
table.table-select td{
	background-color: #ffffff;
}
table.table-select tr.selected-row td{
	background-color: rgb( 51,181,229);
}
.padding-top-15{
	padding-top: 15px;
}
.margin-top-15{
	margin-top: 15px;
}
.inline-block{
	display: inline-block;
}