@import url(http://fonts.googleapis.com/css?family=Roboto);
table.table-form {
	margin-top: 50px;
	margin-right: 50px;
	text-align: right;
}
table.table-form *{
	text-align: right;
}


table.table-form td, table.table-form th{
	margin: 10px;
	padding: 10px;
}
table.table-form th{
	margin-left: 20px
}
.form-container{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}



/*#content-holder{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	height: 100vh;
	background-color: rgb(138,213,240);
	display:block;overflow:auto
}*/

input.form-input, textarea.form-input, select.form-input {
	padding: 16px;
	border-radius:7px;
	border:0px;
	background: rgba(255,255,255,.2);
	display: block;
	margin: 15px;
	width: 500px;
	color:white;
	font-size:18px;
	
}

input.form-input, select.form-input {
	height: 54px;
}


input.form-input:focus, textarea.form-input:focus , select.form-input:focus {
	outline-color: rgba(0,0,0,0);
	background: rgba(255,255,255,.95);
	color: #33b5e5;
}

input.form-input::-webkit-input-placeholder, textarea.form-input::-webkit-textarea-placeholder 
, select.form-input::-webkit-input-placeholder{
	color: white;
}

input.form-input:focus::-webkit-input-placeholder, textarea.form-input:focus::-webkit-textarea-placeholder 
, select.form-input:focus::-webkit-input-placeholder{
	color: #33b5e5;
}

.form-error{
	color: red;
	font-family: 'Roboto', sans-serif;
}
.form-success{
	color: green;
	font-family: 'Roboto', sans-serif;
}

.triplet{
	float: right;
	width: 33%;
}
.triplet-base{
	margin-right: 66%;
	width: 33%;
}
.middle-wrap{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.modal-content{
	background-color: rgb(138,213,240);
}

.single-knowledge{
	width: 95%;
	background-color: rgba(255,255,255,.65);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 8px;
	border-radius: 10px;
}
.single-knowledge hr.knowledge-part-divider{
	margin-top: 8px;
	margin-bottom: 8px;

    border: 0;
    height: 2px;
    background: rgb(  0,153,204);
}
.single-knowledge .comments hr.comment-part-divider{
	margin-top: 4px;
	margin-bottom: 4px;

    border: 0;
    height: 1px;
    background: rgb(138,213,240);
}
hr.content-divider{
	margin-top: 14px;
	margin-bottom: 25px;

	width: 100%;
    border: 0;
    height: 3px;
    background: rgb(  0,153,204);
}


.single-knowledge h1{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: rgb(  0,153,204);

}
.single-knowledge h2{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	color: rgb(  0,153,204);
}
.single-knowledge .rate{
	float: left;
	width: 110px;

}
.single-knowledge .add-comment{
	margin-left: calc(100%-115px);
}
.comments .comment .comment-date{
	float: left;
}
.comments{
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	padding: 10px;
}
.h-title{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	color: rgb( 0,153,204);
	padding: 0px 20px;
}