{% load widget_tweaks %}


<!-- Modal -->
<div class="modal fade" id="add-relation" tabindex="-1" role="dialog" aria-labelledby="add-relationLabel" >
	<div class="modal-dialog" role="document" >
		<div class="modal-content" >
			<form id='add-relation-form'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>

					<h4 class="modal-title" id="add-relationLabel">افزودن رابطه</h4>
				</div>
				<div class="modal-body">
					<!-- form -->



					<div class="form-container">
						<!-- ktype -->
						<p><label for="{{ add_relation_form.ktype.id_for_label }}">{{ add_relation_form.ktype.label }}</label></p>
						<p>{{ add_relation_form.ktype|add_class:'form-input' }}</p>
						<div class="form-error">{{ add_relation_form.ktype.errors }}</div>

						<!-- fromKnowledge -->
						<p><label for="{{ add_relation_form.fromKnowledge.id_for_label }}">{{ add_relation_form.fromKnowledge.label }}</label></p>
						<p>{{ add_relation_form.fromKnowledge|add_class:'form-input' }}</p>
						<div class="form-error">{{ add_relation_form.fromKnowledge.errors }}</div>

						<!-- toKnowledge -->
						<p><label for="{{ add_relation_form.toKnowledge.id_for_label }}">{{ add_relation_form.toKnowledge.label }}</label></p>
						<p>{{ add_relation_form.toKnowledge|add_class:'form-input' }}</p>
						<div class="form-error">{{ add_relation_form.toKnowledge.errors }}</div>

						{% if success %}
							<div class="form-success">رابطه با موفقیت ثبت شد.</div>
						{% endif %}
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<input id='add-relation-submit' type='submit' class="btn btn-info">
{#					<button type="button" class="btn btn-primary">Save</button>#}
				</div>

			</form>
		</div>
	</div>

</div>

<script type="text/javascript">
	var $form = $('#add-relation-form');
	function rewrite_add_relation_form(data){
		console.log('rewrite relation');
		// console.log(data);
		var $res = $(data);
		var $change = $res.find('#add-relation-form');
		console.log('^^^^^^^^^^^^^^^^^^^^^');
		console.log($change.html());
		$form.html($change.html());
		add_submit_event_listener();
	}
	function add_submit_event_listener(){
		$('#add-relation-submit').on('click', function(event){
			event.preventDefault();
			console.log('submiting add-relation form');
			$.ajax({type:'POST',
				url: 'add-relation/',
				data: $form.serialize(),
				success: function(data){
					rewrite_add_relation_form(data);
				},
				error: function(data){
					rewrite_add_relation_form(data);
				}
			});
			console.log('form submited');
			return false;
		});
	}
	add_submit_event_listener();
</script>
