{% load humanize %}

<div class="single-block">
	<div class="subject">
		<h1>{{ knowledge.subject }}</h1>
	</div>

	{% if knowledge.summary %}
		<hr class='block-part-divider'>
		<div class="summary">
			<h2>خلاصه :</h2>
			<p>{{ knowledge.summary }}</p>
		</div>
	{% endif %}

	{% if knowledge.content %}
		<hr class='block-part-divider'>
		<div class="content">
			<h2>محتوا:</h2>
			<p>{{ knowledge.content }}</p>
		</div>
	{% endif %}

	{% if knowledge.file %}
		<hr class='block-part-divider'>
		<div class="files">
			<h2>فایل ها:</h2>
			<p><a href="{{ MEDIA_URL }}{{ knowledge.file }}">{{ knowledge.file.name }}</a></p>
		</div>
	{% endif %}


	<hr class='block-part-divider'>
	<footer class="footer">
		<div class="author triplet">نویسنده: <a href="{% url 'show-user-profile' knowledge.author.id %}">{{knowledge.author.realName}}</a></div>
		<div class="source triplet">منبع: <a href="{% url 'show-source'  knowledge.source.id %}">{{knowledge.source.subject}}</a></div>
		<div class="date triplet-base"  >تاریخ:<span dir="ltr">{{knowledge.createDate|naturaltime }}</span></div>
	</footer> 


	<hr class='block-part-divider'>
	<div class="control-panel-relation">
		<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add-relation" {% if kauth_access_add_relation == 0 %}disabled="True" {% endif %}>افزودن رابطه</button>

		{% for rel in knowledge.relationToKnowledge.all %}
			<div class='btn-group rel-but'>
				<!-- todo add  link -->
				<a class='btn btn-sm btn-success' href="{% url 'show-knowledge' rel.toKnowledge.id %}">{{ rel.toKnowledge.presentation }}</a>
				<a class='btn btn-sm btn-success' href="{% url 'show-relation-type' rel.ktype.id %}">{{ rel.ktype.presentation }}</a>
				<a class='btn btn-sm btn-success rep-abuse removable' data-abuse-name="{{ rel.abuse_presentation }}" data-abuse-url="{% url 'show-knowledge' knowledge.id %}"
				   data-remove-id="{{ rel.id }}" data-remove-url="{% url 'remove-relation' %}" data-type=2>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a>
			</div>
		{% endfor %}
		
		{% for rel in knowledge.relationFromKnowledge.all %}
			<div class='btn-group rel-but'>
				<!-- todo add  link -->
				<a class='btn btn-sm btn-warning' href="{% url 'show-knowledge' rel.fromKnowledge.id %}">{{ rel.fromKnowledge.presentation }}</a>
				<a class='btn btn-sm btn-warning' href="{% url 'show-relation-type' rel.ktype.id %}">{{ rel.ktype.presentation }}</a>
				<a class='btn btn-sm btn-warning rep-abuse removable' data-abuse-name="{{ rel.abuse_presentation }}" data-abuse-url="{% url 'show-knowledge' knowledge.id %}"
				   data-remove-id="{{ rel.id }}" data-remove-url="{% url 'remove-relation' %}" data-type=2>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a>
			</div>
		{% endfor %}


		<!-- <button class="btn btn-primary"></button> -->
	</div>
	<hr class='block-part-divider'>
	<div class="control-panel-tag">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-tag" {% if kauth_access_add_tag == 0 %}disabled="True" {% endif %}>افزودن برچسب</button>
		
		{% for tag in knowledge.tags.all %}
			<div class='btn-group tag-but'>
				<!-- todo add  link -->
				<a class='btn btn-info' href="{% url 'show-tag-type' tag.ktype.id %}">{{ tag.ktype.presentation }}</a>
				<a class='btn btn-info rep-abuse removable' data-abuse-name="{{ tag.abuse_presentation }}" data-abuse-url="{% url 'show-knowledge' knowledge.id %}"
				   data-remove-id="{{ tag.id }}" data-remove-url="{% url 'remove-tag' %}" data-type=1>
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a>
			</div>
		{% endfor %}
		<!-- <button class="btn btn-primary"></button> -->
	</div>

	<hr class='block-part-divider'>
	<div class="interact">
		<div class="rate middle-wrap">
			<a href="#" class="btn btn-sm btn-danger rate-down">
				<span class="number">0</span>
				<span class="glyphicon glyphicon-thumbs-down"></span>
			</a>
			<a href="#" class="btn btn-sm btn-success rate-up">
				<span class="number">0</span>
				<span class="glyphicon glyphicon-thumbs-up"></span>
			</a>
		</div>
		<div class="input-group add-comment" dir="ltr">
			<input type="text" placeholder="نظر..." class="form-control comment-send-text" dir="rtl">
			<span class="input-group-btn">
				<button class="btn btn-primary comment-send-but" type="button">
					<i class="glyphicon glyphicon-send"></i>
				</button>
			 </span>
		</div>
	</div>


	{% if knowledge.comments.all.count %}
		<hr class='block-part-divider'>
		<div class="comments">
			{% for comment in knowledge.comments.all %}
				{% if not forloop.first %}
					<hr class="comment-part-divider"/>
				{% endif %}
				<div class="comment" dir="rtl">
					<a  href="{% url 'show-user-profile' comment.author.id %}" class="comment-author" dir="rtl">{{ comment.author.user.username }}:</a>
					<span class="comment-text"  dir="rtl">{{ comment.text }}</span>
					<span class="comment-date" dir="ltr">{{ comment.date|naturaltime }}</span>
				</div>
			{% endfor %}
		</div>
	{% endif %}
</div>


{% block additional-script %}
	<script>
		{% if user_is_manager %}
			$('.removable').on('click', function(e){
{#				var sure = confirm('ایا مایل به درخواست استفاده نا درست هستید؟');#}
{#				if(sure == false){#}
{#					return false;#}
{#				}#}
				var $target = $(this);

				var id = $target.attr('data-remove-id');
				var url = $target.attr('data-remove-url');
				console.log('delete '+ id + ' url:' + url);
				$.post(url, {'id':id}, function(data){

					console.log('receive delete response');
					console.log(data);
					$target.parent().remove();
					alert('حذف انجام شد')

				});
			});

		{% else %}
			$('.rep-abuse').on('click', function(e){
{#				var sure = confirm('ایا مایل به درخواست استفاده نا درست هستید؟');#}
{#				if(sure == false){#}
{#					return false;#}
{#				}#}
				var reason = 'ذکر نشده است';
				var $target = $(this);

				var pres = $target.attr('data-abuse-name');
				var url = $target.attr('data-abuse-url');
				var remove_id = $target.attr('data-remove-id');
				var remove_type =  $target.attr('data-type');
				console.log('request report abuse for '+pres + ' url:' + url);
				$.post("{% url 'report-abuse' %}", {'name':pres, 'url':url, 'reason':reason, 'remove_id':remove_id, 'type':remove_type}, function(data){

					console.log('receive abuse response');
					console.log(data);
					alert('درخواست با موفقیت ثبت شد.')

				});
			});
		{% endif %}
	</script>
{% endblock %}