<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>TimeLine</title>

	<link rel="stylesheet" href={% static "CSS/bootstrap.min.css"%}>
	<link rel="stylesheet" href={% static "CSS/bootstrap-theme.min.css" %}>
	<link rel="stylesheet" href={% static "CSS/base.css"%}>
	<link rel="stylesheet" href={% static "CSS/generated.css"%}>
	<link rel="stylesheet" href={% static "CSS/dynamic.css"%}>


</head>

<body dir="rtl">

	{% include 'base-nav.html' %}
	<div id="content-holder">
		{% block content %}
		{% endblock %}
	</div>

<script src={% static "js/jquery-2.1.4.min.js"%}></script>
<script src={% static "js/bootstrap.min.js"%}></script>
<script src={% static "js/base.js"%}></script>
</body>
</html>
