

<nav id="navbar"  class="navbar navbar-default navbar-fixed-top" >
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">دانش گستر</a>
	</div>
	<div id="navbar-inner" class="navbar-collapse collapse">
		<ul id="navbar-buttons-wrapper" class="nav navbar-nav navbar-right">
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user_realname }}<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">

					<li><a href="">تغییر رمز</a></li>
					<li><a href={% url 'logout' %}>خروج</a></li>
				</ul>
			</li>
			{% if not user_is_manager %}
				<li class="navbar-right dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">درخواست ها<b class="caret"></b> </a>
					<ul role="menu" class="dropdown-menu">
						<li><a href="">درخواست ویژه</a></li>
					</ul>
				</li>
			{% endif %}
			{% if user_is_manager %}
				<li class="navbar-right dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">مدیریت کاربران<b class="caret"></b> </a>
					<ul role="menu" class="dropdown-menu">
						<li><a href="{% url 'register' %}">ثبت نام کاربر</a></li>
						<li><a href="">اخراج کاربر</a></li>
						<li><a href="">بررسی درخواست ویژه</a></li>
					</ul>
				</li>
			{% endif %}
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">دانش<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">
					<li><a href={% url 'add-knowledge' %}>افزودن دانش</a></li>
					<li><a href={% url 'add-source' %}>افزودن منبع</a></li>
					<li><a href="">ایجاد برچسب</a></li>
					<li><a href="">حذف برچسب</a></li>
					{% if user_is_manager %}
						<li role="presentation" class="divider"></li>
						<li><a href="">ایجاد رابطه میان دانشی</a></li>
						<li><a href="">بررسی استفاده نادرست</a></li>
					{% endif %}
				</ul>
			</li>
			{% if user_is_manager %}
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">گزارش<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="">گزارش کاربرد نامه</a></li>
					<li><a href="">گزارش استخراج دانش</a></li>
					<li><a href="">گزارش چرخه های دانشی</a></li>
					<li><a href="">گزارش روال نامه</a></li>
					<li><a href="">گزارش فعالیت کارمندان</a></li>
				</ul>
			</li>
			{% endif %}
		</ul>
		<form  id="navbar-search-form" role="search" class="navbar-form navbar-right ">

			<div dir="ltr" class="input-group nav navbar-nav ">

				<div   class="input-group-btn">
					<button   dir="rtl"  id="navbar-subject-chooser"  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> موضوع <span class="caret"></span></button>
					<ul class="dropdown-menu nav-search-menu" role="menu" data-url="" data-q="">
						<li><a data-q="subject" data-url="{% url 'show-search-knowledge' %}">دانش</a></li>
						<li><a data-q="subject" data-url="{% url 'show-search-source' %}">منبع</a></li>
						<li><a data-q="username" data-url="{% url 'show-search-user' %}">کاربر</a></li>
					</ul>
				</div>
				<input id="nav-search-input" type="text" placeholder="جستجو"  class="form-control">
					   <span class="input-group-btn">
						  <button id="nav-search-but" class="btn btn-default " type="button">
							  <i class="glyphicon glyphicon-search"></i>
						  </button>
					   </span>
			</div>
		</form>
	</div>
	<script>
		$('.dropdown-menu.nav-search-menu li a').each(function(elem, val){
{#			console.log('add drop down');#}
{#			console.log(elem);#}
{#			console.log(val);#}
			$(val).on('click', function(e){
				var $menu = $('.dropdown-menu.nav-search-menu');
				var newUrl = $(this).attr('data-url');
				var q = $(this).attr('data-q');
				$menu.attr('data-url', newUrl);
				$menu.attr('data-q', q);
{#				console.log('search menu clicked url: ' + newUrl + ' q:' + q);#}
			});
		});
		$('#nav-search-but').on('click', function(e){
			var $menu=$('.dropdown-menu.nav-search-menu');
			var url = $menu.attr('data-url');
			var q =  $menu.attr('data-q');
			var val = $('#nav-search-input').val();
{#			console.log('search url:'+url+' q:'+q+' val:'+val);#}
			if(url == '')
				return false;

			var hop = url+'?'+q+'='+val;
			console.log(hop);
			location.href= hop;

		});
	</script>
</nav>
