<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}

	<meta charset="utf-8">
	{% if page_title %}
		<title>{{ page_title }}</title>
	{% endif %}
	<link rel="shortcut icon" type="image/x-icon" href={% static 'img/site-icon.ico' %}>

	<link rel="stylesheet" href={% static "CSS/bootstrap.min.css"%}>
	<link rel="stylesheet" href={% static "CSS/bootstrap-theme.min.css" %}>
	<link rel="stylesheet" href={% static "CSS/base.css"%}>
	<link rel="stylesheet" href={% static "CSS/generated.css"%}>
	<link rel="stylesheet" href={% static "CSS/dynamic.css"%}>


</head>

<!-- in some templates jQ have used in the middle of code -->
<script src={% static "js/jquery-2.1.4.min.js"%}></script>
<script src={% static "js/bootstrap.min.js"%}></script>

<body dir="rtl">

	{% include 'base-nav.html' %}
		{% block content %}
		{% endblock %}
	

<script src={% static "js/base.js"%}></script>
</body>
</html>
