
<body dir="rtl">

<nav id="navbar"  class="navbar navbar-default navbar-fixed-top" >
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">دانش گستر</a>
	</div>
	<div id="navbar-inner" class="navbar-collapse collapse">
		<ul id="navbar-buttons-wrapper" class="nav navbar-nav navbar-right">
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ user_realname }}<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">

					<li><a href="">تغییر رمز</a></li>
					<li><a href="">خروج</a></li>
				</ul>
			</li>
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">مدیریت کاربران<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="">ثبت نام کاربر</a></li>
					<li><a href="">اخراج کاربر</a></li>
					<li><a href="">بررسی درخواست ویژه</a></li>
				</ul>
			</li>
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">دانش<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="">افزودن دانش</a></li>
					<li><a href="">ایجاد برچسب</a></li>
					<li><a href="">حذف برچسب</a></li>
					<li role="presentation" class="divider"></li>
					<li><a href="">ایجاد رابطه میان دانشی</a></li>
					<li><a href="">بررسی استفاده نادرست</a></li>
				</ul>
			</li>
			<li class="navbar-right dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">گزارش<b class="caret"></b> </a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="">گزارش کاربرد نامه</a></li>
					<li><a href="">گزارش استخراج دانش</a></li>
					<li><a href="">گزارش چرخه های دانشی</a></li>
					<li><a href="">گزارش روال نامه</a></li>
					<li><a href="">گزارش فعالیت کارمندان</a></li>
				</ul>
			</li>
		</ul>
		<form  id="navbar-search-form" role="search" class="navbar-form navbar-right ">

			<div dir="ltr" class="input-group nav navbar-nav ">

				<div   class="input-group-btn">
					<button   dir="rtl"  id="navbar-subject-chooser"  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> موضوع <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" >
						<li><a >دانش</a></li>
						<li><a >منبع</a></li>
						<li><a >کاربر</a></li>
						<li><a >نامه</a></li>
					</ul>
				</div>
				<input id="navbar-search-input" type="text" placeholder="جستجو"  class="form-control">
					   <span class="input-group-btn">
						  <button class="btn btn-default" type="button">
							  <i class="glyphicon glyphicon-search"></i>
						  </button>
					   </span>
			</div>
		</form>
	</div>
</nav>
